*{
    border: solid red 1px;
}
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 80px;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
}

